@media(max-width: 1024px){
    #about img{
        width: 45%;
    }
}
@media(max-width: 620px){
    #about img{
        display: none;
    }
    .about_text{width: 100%}
}
@media(max-width: 554px){
    #projects img {
    height: 220px;
    }
}
@media(max-width: 470px){
    #contacts{font-size: 14px}
}
